@{
    ViewBag.Title = "About shop";
}
<h2>@ViewBag.Title.</h2>
<p>
    A Kathi Roll shop typically specializes in serving a popular Indian street food known as "Kathi Rolls."<br />
    Kathi Rolls are a delicious and versatile food option that originated in the streets of Kolkata, India,<br />
    and have gained popularity worldwide. Here's a description for an about page
</p>

<p></p>
