@{
    //ViewBag.Title = "Contact";
}
<h3>@ViewBag.Message</h3>

<address>
    Khau Gali, Krishna Nagar, Dyanesh Park, <br />
    New Sanghavi, Pimpri-Chinchwad,<br />
    Maharashtra 411027.<br />
    <abbr title="Phone">Phone : +9188888374227</abbr>

</address>

<address>
    <strong>Support:</strong>   <a href="mailto:vilaspatil1717@gmail.com">vilaspatil1717@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>